data_gammam6.0_averageseeds.jld2
data_gammam7.0_averageseeds.jld2
data_gammam8.0_averageseeds.jld2
data_gammam12.0_averageseeds_from20000.jld2
data_gammam12.0_averageseeds_from25000.jld2
data_gammam12.0_averageseeds_from35000_v2.jld2
data_gammam12.0_averageseeds_from35000.jld2
data_gammam12.0_averageseeds_from40000.jld2
data_gammam12.0_averageseeds_from45000.jld2
data_gammam12.0_averageseeds.jld2
effective_model
effective_model.ipynb
glass_analysis_gamma_7.00_N1024_Nt50000.jld2
glass_analysis_gamma_8.00_N1024_Nt50000.jld2
glass_analysis_gamma_12.00_N1024_Nt50000.jld2
